<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Configuring the Dependent Bean -->
	<bean id='bDart' class='in.abc.bean.BlueDart' lazy-init="true" />
	<bean id='dtdc' class='in.abc.bean.DTDC' primary="true" />
	<bean id='courier' class='in.abc.bean.FirstFlight' autowire-candidate="false" lazy-init="true"/>
	
	<!-- Configuring the Target Bean -->
	<bean id='fpkt' class='in.abc.bean.Flipkart' autowire="constructor" >
		<property name="regNo" value="12345" />
	</bean>

    
</beans>